<h1>Images#index</h1>
<div>
  <%= link_to "新規作成", new_image_path %>
</div>
<% @images.each do |image| %>
  <h2><%= image.name %></h2>
  <%= link_to "詳細", image_path(image) %>
  <%= link_to "削除", image_path(image), method: :delete %>
<% end %>